useDynLib(support, .registration = TRUE)
export(sp)
import("Rcpp")
import("MHadaptive")
importFrom("stats", "kmeans", "qbeta", "qcauchy", "qexp", "qgamma","qlnorm", "qnorm", "qt", "qunif", "qweibull", "var")
